<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Cards with Contextual Classes</h2>
  <div class="card bg-secondary text-white">
    <div class="card-body" *ngIf="demoobject.length>0">
      <h1>This is Cardnumber 1</h1>
      <br>
       <h2>title is {{demoobject[0].title}}</h2>
       <h2>Subtitle is {{demoobject[0].subtitle}}}</h2>
       <h2>Description is {{demoobject[0].description}}}</h2>
    </div>
    <div class="notfound1" *ngIf="demoobject.length<1">
      <h1>Nothing Found to show on Card 1</h1>
    </div> 
  </div>
  <br>
  <div class="card bg-warning text-white">
    <div class="card-body" *ngIf="demoobject.length>=2">
      <h1>This is Cardnumber 2</h1>
      <br>
       <h2>title is {{demoobject[1].title}}</h2>
       <h2>Subtitle is {{demoobject[1].subtitle}}}</h2>
       <h2>Description is {{demoobject[1].description}}}</h2>

    </div>
    <div class="notfound" *ngIf="demoobject.length<2">
      <h1>Nothing Found to show on Card 2</h1>
    </div>
  </div>
  <br>
  <div class="card bg-success text-white">
    <div class="card-body"*ngIf="demoobject.length>=3">
      <h1>This is Cardnumber 3</h1>
    <br>
     <h2>title is {{demoobject[2].title}}</h2>
     <h2>Subtitle is {{demoobject[2].subtitle}}}</h2>
     <h2>Description is {{demoobject[2].description}}}</h2>
    </div>
    <div class="notfound2" *ngIf="demoobject.length<3">
      <h1>Nothing Found to show on Card 3</h1>
  </div>
</div>
</div>
</body>
</html>
