<form  #f="ngForm" class="style" (ngSubmit)="OnSubmit(f)">
    <div class="form-group">
      <label for="title">Enter Title</label>
      <input type="text" id="name" name="name" class="form-control"
      required minlength="10" required maxlength="12"  (input)="TitleValidate($event)" ngModel>
     <span *ngIf=" ValueOfTitle!=''&&ValueOfTitle.length<10" >Min length must be 10</span>
     <span *ngIf="ValueOfTitle.length>12" >Maxlength must be 12</span>
    </div>
    <div class="form-group">
      <label for="SubTitle">SubTitle</label>
      <input type="text" class="form-control" name="SubTitle" placeholder="Enter SubTitle" ngModel>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" id="Descriptions" name="Descriptions" class="form-control"
        required minlength="50" required maxlength="1000" 
         (input)="DescriptionValidate($event)" ngModel>
         <span *ngIf=" ValueOfDescription!=''&& ValueOfDescription.length<50" >Min length must be 50</span>
     <span *ngIf="ValueOfDescription.length>1000" >Maxlength must be 1000</span>
      </div>
    <div class="form-group">
        <label for="Upload">Upload Photo</label>
        <input type="file" class="form-control-file" accept=".png,.jpg" name="Upload"ngModel>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
<app-card></app-card>